on: [push, pull_request]

name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
    - uses: actions/checkout@v2
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
    - name: Run Rustfmt
      run: cargo fmt -- --check
    - name: Run Clippy
      run: cargo clippy
  doc:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: dtolnay/rust-toolchain@stable
      - name: Docs
        env:
          RUSTDOCFLAGS: -Dwarnings
        run: cargo doc --no-deps --all-features --document-private-items

  build_versions:
    strategy:
      matrix:
        rust: [stable, beta, 1.71.1]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v1
      - run: cargo build

  build_and_test:
    name: Test
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: "1"
      RUSTFLAGS: "-D dead_code -D unused-variables -D unused"
    steps:
      - uses: actions/checkout@master
      - uses: dtolnay/rust-toolchain@stable
      - name: Test
        run: cargo test

  # Disable cargo-deny until this is sorted: https://github.com/EmbarkStudios/cargo-deny/issues/804
  #
  # cargo-deny:
  #   name: cargo-deny

  #   # TODO: remove this matrix when https://github.com/EmbarkStudios/cargo-deny/issues/324 is resolved
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       platform:
  #         - aarch64-apple-ios
  #         - aarch64-linux-android
  #         - i686-pc-windows-gnu
  #         - i686-pc-windows-msvc
  #         - i686-unknown-linux-gnu
  #         - wasm32-unknown-unknown
  #         - x86_64-apple-darwin
  #         - x86_64-apple-ios
  #         - x86_64-pc-windows-gnu
  #         - x86_64-pc-windows-msvc
  #         - x86_64-unknown-linux-gnu
  #         - x86_64-unknown-redox

  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: EmbarkStudios/cargo-deny-action@v1
  #     with:
  #       command: check
  #       log-level: error
  #       arguments: --all-features --target ${{ matrix.platform }}
