export _skim_flake_profile="default"
# .envrc.local lets you override the _skim_flake_profile if needed: `export _skim_flake_profile="full"`
source_env_if_exists .envrc.local
use flake .#"$_skim_flake_profile"
